<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplyTwitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82E9D6261D0F2124006E5EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82E9D63A1D0F2124006E5EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82E9D6451D0F2124006E5EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
